/* Custom primary color for header */
:root {
    --md-primary-fg-color:        #279465;  /* dark navy or your choice */
    --md-primary-bg-color:        #FFFFFF;
    --md-primary-bg-color--light: #FFFFFF;
    --md-primary-bg-color--dark:  #FFFFFF;
  
    --md-typeset-a-color: #4FC3F7; /* optional: link color */
  }
  